<!DOCTYPE html>
<html lang="ja">
<head>
	<title>Portfolio</title>
	<meta charset="utf-8">
</head>
<body>
<script type="text/javascript" src="/javascripts/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<link href="/javascripts/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
<div id ="header">
	<div class="overView text-success">Makoto Sato's Portfolio <br> Javascript and Node engineer.</div>
	<div class="separator-white"></div>
</div>

