<!DOCTYPE html>
<html lang="ja">
<head>
	<title>BBS</title>
	<meta charset="utf-8">
</head>
<body>
<script type="text/javascript" src="/javascripts/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<link href="/javascripts/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

      <section>
          <div  class="row indexnavbar navbar-dark bg-dark ">
		   <div  class="nav-item col-2  text-success">MAKOTO</div>
		   <ul class="nav nav-tabs col-10 nav-justified">
		    <li class="nav-item"><a href="/company" class="nav-link active " >COMPANY</a></li>
		    <li class="nav-item"><a href="/workFlow" class="nav-link" >WORK FLOW</a></li>
		    <li class="nav-item"><a href="/contact" class="nav-link" >CONTACT</a></li>
		    <li class="nav-item"><a href="/recruit" class="nav-link" >RECRUIT</a></li>
		    <li class="nav-item"><a href="/bbs" class="nav-link" >BBS</a></li>
		  </ul>
	   </div>
      </section>

