<% include ../header %>
<link href="/stylesheets//style.css" rel="stylesheet" type="text/css">

<h1><%= post.title %></h1>
<p><%= post.body %></p>
<p><a href="/">Go Back</a></p>
<% include ../footer %>
